<?php
$finder = PhpCsFixer\Finder::create()
    ->exclude([
        'bootstrap/cache',
        'vendor',
    ]);

$config = new PhpCsFixer\Config();
return $config
    ->setRiskyAllowed(true)
    ->setRules([
        // If you want to overwrite default rules
        // add rules here.
        'declare_strict_types' => false,
//・・・
    ])
    ->setFinder($finder);
